<div style="height: 100%;" class="ui middle aligned two column centered stackable grid container">

  <div style="text-align: center" class="column">
    <div  class="ui rounded image">
      <img style="max-width: 550px" src="/images/bg.jpeg">
    </div>
  </div>

  <div class="column">
    <h2 class="header no-bottom">{{ site.data.bio.basics.name }}</h2>
    <p class=""></p>
    <p class="">
        New Hampshire Chapter of the American College of Radiology
    </p>
    <p style="text-align: center">
    <a href="{{ site.baseurl }}/about/">
        <button class="ui basic button">About</button>
    </a>
    <a href="{{ site.baseurl }}/governance/">
        <button class="ui basic button">Governance</button>
    </a>
    <a href="{{ site.baseurl }}/awards/">
        <button class="ui basic button">Awards</button>
    </a>
    <a href="{{ site.baseurl }}/news/">
        <button class="ui basic button">News</button>
    </a>
    <a href="{{ site.baseurl }}/contact/">
        <button class="ui basic button">Contact</button>
    </a>
    </p>
  </div>
</div>
