<div style="height: 100%" class="ui middle aligned grid ">

  <div class="column">

    <div style="max-width: 700px; margin-top: 0px" class="ui fluid centered card">
      <div class="image">
        <img src="{{ site.data.bio.basics.picture }}">
      </div>

      <div class="center aligned content">
        <span class="header">{{ site.data.bio.basics.name }}</span>
        <div class="center aligned description">
            New Hampshire Chapter of the American College of Radiology
        </div>
      </div>
      <div class="center aligned content">
        <a href="{{ site.baseurl }}/about/">
            <button class="ui basic button">About</button>
        </a>
        <a href="{{ site.baseurl }}/governance/">
            <button class="ui basic button">Governance</button>
        </a>
        <a href="{{ site.baseurl }}/awards/">
            <button class="ui basic button">Awards</button>
        </a>
        <a href="{{ site.baseurl }}/news/">
            <button class="ui basic button">News</button>
        </a>
        <a href="{{ site.baseurl }}/contact/">
            <button class="ui basic button">Contact</button>
        </a>
      </div>
    </div>
  </div>

</div>
